body{
    background-color: salmon;
}

.big-green-heading {
    background-color: chartreuse;
    color: blue;
    font-size: 72px;
}

.little-blue-heading {
    font-size: 1.5em;
    background-color: aliceblue;
}

ul {
    background-color: tomato;
    color: silver;
}

.font-lightseagreen {
    color: lightseagreen;
}

#amazing-image {
    border: 5px solid fuchsia;
    border-radius: 10px;
    
}